/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    /* Color styles */
--black-bg: #000000;
--grey-foot-bg: #222222;
--white-text: #FFFFFF;
--green-share: #4BC800;
--red-exit: #C5242A;
--grey-exit: #4A4A4A;
--grey-proname: #4a4a4ac9;

}

.debug{
    border: 1px solid red;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--black-bg);
    font-family: 'Roboto', sans-serif;
    color: white;
    
}

/* CONTAINER */

.head-nav{
    max-width: 100%;
    /* padding-bottom: 40px; */ 
    height: 40px ;
}


.main-container{
    width : 85vw;
    height: calc(100vh - 100px);
    margin: 0 auto;
    overflow: auto;
    
    
   
    
}

.profile-card{
    width: calc(100% / 7 - 10px);
    margin: 5px; 
    position: relative;  
}

.footer-nav{
    max-width: 100%;
    height: 60px;
    background-color: var(--grey-foot-bg);
}





/* FLEX */

.d-flex{
    display: flex;
    flex-flow: row wrap;
    /* gap: ; */
    
}

.justicon-end{
    justify-content: flex-end;
    
}

.justicon-start{
    justify-content: flex-start;
}

.justicon-spacebtw{
    justify-content: space-between;
}

.alicon-center{
    align-content:center ;
}


/* IMG */


main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* TEXT */




header a {
    color: var(--white-text);
    padding: 5px 5px;
    background-color: var(--grey-exit);
    margin-right: 5px;
    font-size: .8rem;
    text-decoration: none;
    border-radius: 5px;
    
}

.profile-name{
    padding: 2px 3px;
    text-align: center;
    position: absolute;
    left: 0px;
    bottom: 5px;
    background-color: var(--grey-proname);
    color: var(--white-text);
    font-size: 0.8rem;
    
}



